defaults: &defaults
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: postgres
  host: localhost
  port: 5432
  pool: 100
  reaping_frequency: 10

development:
  <<: *defaults
  database: product_watch_development

staging:
  <<: *defaults
  database: product_watch_staging

production:
  <<: *defaults
  database: product_watch_production

test:
  <<: *defaults
  database: product_watch_test
